.site-layout {
  background: #fff;
}
.site-layout-background {
  background: #fff;
}
.site-header-layout-background {
  background: #fff;
}
.logo {
  height: 32px;
  //   background: rgba(252, 200, 200, 0.2);
  margin: 16px;
  color: #fff;
  text-align: center;
  font-size: large;
}
